<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--这是侧边栏-->
<nav class="templatemo-left-nav" th:fragment="sidebar">
  <ul>
    <li><a href="#" th:href="@{/admin/getUserList}" class="active" th:class="${activeUri=='admin/getUserList'?'active':''}"><i class="fa fa-home fa-fw"></i>用户管理</a></li>
    <li><a href="menuorfoods.html" th:href="@{/admin/getFoodList}" th:class="${activeUri=='admin/getFoodList'?'active':''}"><i class="fa fa-bar-chart fa-fw"></i>商品类目商品管理</a></li>
    <li><a href="order.html" th:href="@{/admin/getOrderList}" th:class="${activeUri=='admin/getOrderList'?'active':''}" ><i class="fa fa-database fa-fw"></i>订单管理</a></li>
    <li><a th:href="@{/admin/reductionList}" th:class="${activeUri=='admin/reductionList'?'active':''}"> <i class="fa fa-map-marker fa-fw"></i>优惠券发放管理</a></li>
    <li><a href="" th:href="@{/admin/count/charts}" th:class="${activeUri=='admin/count/charts'?'active':''}"><i class="fa fa-users fa-fw"></i>图表数据显示</a></li>
    <li><a href="#"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
  </ul>
</nav>

</body>
</html>