<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Visual Admin Dashboard - Data Visualization</title>
  <meta name="description" content="">
  <meta name="author" content="templatemo">
  <!--
  Visual Admin Template
  http://www.templatemo.com/preview/templatemo_455_visual_admin
  -->
  <link href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"  rel="stylesheet">
  <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="css/templatemo-style.css" th:href="@{/css/templatemo-style.css}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>
<!-- Left column -->
<div class="templatemo-flex-row">
  <div class="templatemo-sidebar">
    <header class="templatemo-site-header">
      <div class="square"></div>
      <h1>Visual NWU</h1>
    </header>
    <!-- Search box -->
    <form class="templatemo-search-form" role="search">
      <div class="input-group">
        <button type="submit" class="fa fa-search"></button>
        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
      </div>
    </form>
    <div class="mobile-menu-icon">
      <i class="fa fa-bars"></i>
    </div>
    <!--引入侧边栏-->
    <div th:replace="commons/bar::sidebar(activeUri='admin/reductionList')"></div>
  </div>
  <!-- Main content -->
  <!-- Main content -->
  <div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-top-nav-container">
      <div class="row">
        <nav class="templatemo-top-nav col-lg-12 col-md-12">
          <ul class="text-uppercase">
            <li><a href="#" th:href="@{/admin/reductionList}">返回优惠券列表</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="templatemo-content-container">
      <div class="templatemo-content-widget white-bg">
        <h2 class="margin-bottom-10">优惠券详情</h2>
        <form th:action="@{/admin/addReduction}" class="templatemo-login-form" method="post">
          <div class="row form-group">
            <div class="col-lg-6 col-md-6 form-group">
              <label for="inputFirstName">优惠券达到此金额</label>
              <input type="text" name="rule" class="form-control" id="inputFirstName" placeholder="优惠券达到此处金额">
            </div>
            <div class="col-lg-6 col-md-6 form-group">
              <label for="inputLastName">优惠券优惠金额</label>
              <input type="text" name="cut" class="form-control" id="inputLastName" placeholder="减免金额">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-lg-6 col-md-6 form-group">
              <label class="control-label templatemo-block">优惠券类型</label>
              <select class="form-control" name="type">
                <option value="1">全场满减</option>
                <option value="2">单品减免</option>
              </select>
            </div>
            <div class="col-lg-12 form-group">
              <label class="control-label" for="inputNote">优惠券简要描述</label>
              <textarea class="form-control" name="typeDes" id="inputNote" rows="3"></textarea>
            </div>
            <div class="col-lg-12 form-group">
              <div style="float: left">
                <label for="startDate">开始时间：</label>
                <input id="startDate" name="startDate" type="date" th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}"/></div>
              <div style="float: right">
                <label for="endDate">结束时间：</label>
                <input id="endDate"  name="endDate" type="date" th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}"/></div>
            </div>

          </div>
          <div class="form-group text-right">
            <button type="submit" class="templatemo-blue-button">Submit</button>
            <button type="reset" class="templatemo-white-button">Reset</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<!-- JS -->
<script type="text/javascript" src="js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>      <!-- jQuery -->
<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script> <!--  jQuery Migrate Plugin -->
<script type="text/javascript" src="js/templatemo-script.js" th:src="@{/js/templatemo-script.js}"></script>      <!-- Templatemo Script -->

<script type="text/javascript">


</script>
</body>
</html>