<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.app.mapper.ShoptimeMapper">

  <!--//获取营业时间
  Shoptime getShoptime();-->
  <select id="getShoptime" resultType="Shoptime">
    SELECT * FROM shoptime
  </select>
</mapper>